$color: #2196f3;

@mixin whiteContent {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgb(47 60 74 / 1%) 0px 8px 32px, rgb(47 60 74 / 2%) 0px 8px 16px;
}

@mixin hoverHand {
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    color: $color;
  }
}

.el-table-pagination {
  padding-top: 10px;
  padding-left: 10px;
  text-align: end;
}

.el-form-item-action {
  .el-form-item__content {
    justify-content: end;
  }
}