@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": $color,
    ),
  ),
  $date-editor: (
    "width": "100%",
    "datetimerange-width": "100%",
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

.w-e-full-screen-container {
  z-index: 1000;
}

.el-drawer {
  .el-drawer__body {
    overflow-x: hidden;
  }
}

.el-dialog,
.el-message-box {
  border-radius: 15px;
}

.el-cascader {
  width: 100%;
}

.el-form--inline {
  .el-form-item {
    width: 298px;
  }
  .el-select {
    width: 100%;
  }
}

.dark {
  .el-drawer {
    box-shadow: none;
  }
}
